<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>dev.Connect</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">

  <!-- Favicons -->
  <link href="/public/assets_landing_page/img/logo.png" rel="icon">
  <link href="/public/assets_landing_page/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/public/assets_landing_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets_landing_page/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/public/assets_landing_page/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>d.C</span></a></h1>
 
      </div>
      <% if(!user){ %>
      <div class="contact-link float-right">
        <a href="/auth/outlook" class="scrollto">Login</a>
      </div>
      <% }else{ %>
        <div class="contact-link float-right">
          <a href="/profile" class="scrollto">Profile</a>
        </div>
        <% } %>
      
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <%if(!user){%>
      <h1>dev.Connect</h1>
      <h2>A community of developers for IIT Guwahati  to connect and make things happen !</h2>
      <%}else{%>
        <h1>Hello , <%= user.profile_id%></h1>
        <h2>Welcome back to dev.Connect , connect and start building !</h2>
      <% }%>  
      <form autocomplete="off" action="/search" method="post" class="php-email-form" >
       
          <center> 
          
            <input type="text" name="search" class="form-control" id="search" placeholder="Technologies / Stack " required />
         
          </center>

       <br> <div class="text-center"><input  type="submit" value = "Search" /></div>
      
      </form>
    </div>
  </section>

 
  
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <div class="mb-1"> Developed by <strong><span><a href = "https://www.instagram.com/hello_naman/" target="_blank" >Naman Tiwari </a></span></strong></div>
      </div>
      <div class="credits">
       
         <a href="/report">Report User</a>
      </div>
    </div>
  </footer>
  <script src="/public/assets_landing_page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets_landing_page/vendor/php-email-form/validate.js"></script>

  <script src="/public/assets_landing_page/js/main.js"></script>
  <script src="/public/assets_landing_page/js/autocomplete.js"></script>

</body>

</html>