<!DOCTYPE html>
<html lang="en">
<head>
    
  </head>

 

  <body>

     
  <center>
    <h3 class="text-muted">IITG dev.Connect</h3>

<h1>Login</h1>
              <a href="/auth/outlook"  role="button">Login with Outlook </a>
        </div>
       
      </center>
  </body>
</html>
