<html>

<body>

<h1>IITG dev.Connect</h1><br><br>

<h3>The platform aims to help developers to get connected with fellow developers at IIT G</h3><br><br>
<h3>Data :-</h3>

<br><br>

<h4>The data (textual and image) isn't shared with any thrid party except for college administration for better analysis of <br>developers within the campus.</h4>

<br>

</body>

</html>